    body{
 
    margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    color: white;
}



/* estilos content */
.content{
    width: 100%;
    height: 100vh;
    display: flex; 
}


/* estilos content aside lateral */
.aside{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
     background-image:linear-gradient(0deg,
    rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/utils/img/lateral1.jpg); 
    background-size: cover;
    gap: 2rem;
}
/* estilos de caja de filtros */
.filters{
    width: 80%;
    overflow:hidden ;
}

.filters_title{
    border: 2px  solid white;
    border-radius:10px 10px ;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    
}

.Map_3D{
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 1rem;
}
.Map_3D_text{
    width: 5rem;
    display: flex;
    justify-content: center;
    background-color: rgba(0,0,0,0.8);
    border-radius: 10px 10px;
}
.Map_3D_lbl{
    background-color: #aaa;
    display: inline-block;
    width: 3rem;
    height: 1.3rem;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.Map_3D_lbl::after{
    position: absolute;
    content: "";
    width: 17px;
    height: 17px;
    border-radius: 100px;
    background-color: white;
    left: 5px; ;
    transition: 0.5s;
}

#Map_3D_inp{
    display: none;
}
#Map_3D_inp:checked ~.Map_3D_lbl{
    background-color: #61A0FF;
}
 #Map_3D_inp:checked ~.Map_3D_lbl:after{
    left: 28px;


 } 
 
 
 
 .filters_lugar{
    /* background-color: aqua; */
    margin-top: 3rem;
    width: 80%;
   height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    gap: 0.3rem;
    background-color: rgba(0,0,0,0.5) ;
   
}
.filters_legend{
    width: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  rgba(0,0,0,0.5);
    border-radius:10px 10px ;
}
.filters_img{
    width: 3rem;
    height: 2.5rem;
}

.filters_label{
    width: 7rem;
    height: 1rem;
}

/* estilos de segunda caja*/

.filters_h3{
    /* background-color:aqua; */
    width: 12rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 1rem;

}
.filters_select{
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    border-radius: 10px 10px;
    border: none;
    cursor: pointer;
}
.filters_options{
    width: 80%;
    display: flex;
    height: 1.7rem;
    background-color: transparent;
    border: none;
    color:white ;
   
}

.filters_option{
    color: white;
    background-color:#4b4b4b;
}


/* estilos content  */
#map{
    padding: 0;
    margin: 0;
    width:75%;
  }